<% var title = 'Login &ndash; Nginx Proxy Manager' %>
<%- include partials/header.ejs %>

<div class="page" id="login" data-version="<%= version %>">
	<span class="loader"></span>
</div>

<script>
	window.BASE_PATH = 'BASE_PATH_PLACEHOLDER';
	if (window.BASE_PATH.endsWith('/')) {
		window.BASE_PATH = window.BASE_PATH.slice(0, -1);
	}
</script>
<script>
	const script = document.createElement('script');
	script.type = 'text/javascript';
	script.src = window.BASE_PATH + '/js/login.bundle.js?v=<%= version %>';
	document.body.appendChild(script);
</script>
<%- include partials/footer.ejs %>
